services:
  - type: web
    name: maxxpharm-telegram-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python server.py
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: BOT_TOKEN
        value: 8357898408:AAEA5TBDYO9cf9tjbCu6ZcrvPQxy9j28KGI
      - key: ADMIN_TELEGRAM_ID
        value: 697780123
      - key: DATABASE_URL
        value: postgresql+asyncpg://solimfarm_db_steg_user:B4a9T78li3OZlOfVu3f6bF9iBfLWJfu9@dpg-d6ane6cr85hc73ep4qd0-a.oregon-postgres.render.com/solimfarm_db_steg
      - key: RENDER
        value: "True"
    rootDir: /
